# Database
DATABASE_URL=postgresql://user:password@postgres:5432/famaserver
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=famaserver

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# MinIO
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_PUBLIC_PORT=9100
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=famaserver

# Auth
JWT_SECRET=change-me

# App
PORT=3001
PUBLIC_HOST=localhost
NODE_ENV=production
